html, body, App {
  min-height: 100%;
  margin-top:50px;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to bottom right, #5AD4EE, #81D677);
}

.hero {
  color: white;
  font-size: 2em;
  height: 400px;
}

.heroPrimary {
  color: white;
  font-size: 4em;
  margin: 0px;
}

.heroSecondary {
  color: white;
  font-size: 1.5em;
  margin: 20px;
}

.centerallthethings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
}

.search-bar {
  margin: 20px;
  text-align:center;
}

.search-bar input {
  width: 75%;
}
tbody :hover {
background-color: rgba(90, 212, 238, 0.9);
}

tr :hover {
background-color: rgba(90, 212, 238, 0.0);
}

.selectedSearchElement{
background-color: rgba(90, 212, 238, 0.9);
color: white; 
}

.activeButton{
background-color: #5AD4EE;
color: white;
padding-left: 30px;
padding-right: 30px;
}

.disabledButton {
background-color: #ddd;
color: #ccc;
padding-left: 30px;
padding-right: 30px;
}

.circuitCanvas {
background-color: white;
}