#landing {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom right, #5AD4EE, #81D677);
  }

.circuit-card {
    display: inline-flex;
    width: 280px;
    height: 280px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    margin: 10px;

    .title {
        font-size: 2rem;
        color: $grey-500;
        text-decoration: none;
    }

    .description {
        
    }
}